.md-code__content,
code {
    white-space: pre-wrap;
    word-break: break-word;
}

footer {
    display: none;
}

strong {
    color: var(--md-typeset-a-color);
}

.md-main{
    padding-bottom: 150px;
}

.png{
    filter: drop-shadow(4px 4px 4px rgba(10, 10, 10, .7));
}

.md-typeset ul {
    list-style-type: none;
    list-style-position: outside;
    padding-left: 1.5em;
}
.md-typeset ul li{
    text-indent: -2em;
    padding-left: 1.5em;
}
.md-typeset ul li::before{
    content: "♦️";
    color: #ffb14d;
    margin-right: 8px;
    filter: drop-shadow(2px 1.5px .5px rgba(10, 10, 10, .5));
}